* {
    margin: 0px;
    padding: 0px;
    color: white;
    padding: 10px;
}
#navbar {
    background-color: black;
    height: 60px;
}
#logo {
    font-size: 30px;
    
    color: orange;

}
button {
    background-color: orange;
    color: black;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    
}
a{
    margin-right: 50px;
}
